<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <ul class="error-messages">
          <%# <li>That title is required</li> %>

        </ul>

        <%= form_with(model: @article, local:true) do |f| %>
          <%= render 'shared/error_messages' %>
          <div class="form-group">
            <%= f.text_field :title, placeholder: "Article Title", class: "form-control form-control-lg" %>
          </div>
          <div class="form-group">
            <%= f.text_field :sub_title, placeholder: "What's this article about?", class: "form-control form-control-lg" %>
          </div>
          <div class="form-group">
            <%= f.text_area :main_article, rows: "8", placeholder: "Write your article (in markdown)", class: "form-control form-control-lg" %>
          </div>
          <div class="form-group">
            <%= f.text_field :tags, placeholder: "Enter tags", class: "form-control form-control-lg" %>
          </div>

          <%= f.submit "Publish Article", class: "btn btn-lg pull-xs-right btn-primary" %>
        <% end %>
<%# <br>
<br>
<br>

          <fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Article Title" />
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" placeholder="What's this article about?" />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                class="form-control"
                rows="8"
                placeholder="Write your article (in markdown)"
              ></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" placeholder="Enter tags" />
              <div class="tag-list">
                <span class="tag-default tag-pill"> <i class="ion-close-round"></i> tag </span>
              </div>
            </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary" type="button">
              Publish Article
            </button>
          </fieldset> %>
      </div>
    </div>
  </div>
</div>
